@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3592F4;
  --green: #0AC08A;
  --green-gradient: linear-gradient(#0AC08A, #029E9E);
  --blue-gradient: linear-gradient(#3592F4, #3757FF);
  --false: #DE1A3D;
  --text: #2B2B35;
  --shadow: #2b2b3542;
  --text-transparent: #2b2b357e;
  --white: #F4F8FC;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: 'Poppins', Arial, sans-serf;
  /* overflow:s hidden; */
}

.white-bg {
  background-color: var(--white);
  color: var(--text);
}

.blue-bg {
  background: var(--blue-gradient);
  color: var(--white);
}

.container {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  padding: .75rem 1.25rem;
  margin-top: 3rem;
  border-radius: .5rem;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  transition: 200ms ease-in-out;
  box-shadow: 2px 2px 20px var(--shadow);
}

.btn-light {
  color: var(--blue);
  background-color: var(--white);
  border: 2px solid var(--white);
}

.btn-blue {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
}

.btn-disabled {
  color: var(--text-transparent);
  background-color: transparent;
  border: 2px solid var(--text-transparent);
}

.btn.btn-disabled:hover {
  box-shadow: none;
  cursor: not-allowed;

}

.quiz-intro h1 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.quiz-intro p {
  max-width: 260px;
  font-size: 1.25rem;
}

.status {
  color: var(--text);
  font-weight: 700;
  font-size: .9rem;
}

#quiz-body {
  width: 100%;
  max-width: 600px;
}

#quiz-body h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-block: .5rem;
}

#category {
  display: inline-block;
  border: 2px solid var(--text-transparent);
  border-radius: 100px;
  font-size: .9rem;
  padding: .25rem 1rem;
  color: var(--text);
}

#question-info {
  margin-bottom: 4rem;
}

.question {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

#choice-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.question-btn {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
  min-width: 8rem;
  padding: 1rem 2rem;
  /* font-size: 1.25rem; */
  font-weight: bold;
  border-radius: .5rem;
}

.question-btn:hover {
  box-shadow: 0 2px 10px rgba(53, 145, 244, 0.599);
  cursor: pointer;
}

.question-btn.select-wrong {
  color: var(--false);
  background-color: transparent;
  border: 2px solid var(--false);
}

.question-btn.select-wrong:hover, .question-btn.correct:hover, .question-btn.select-right:hover, .question-btn.wrong:hover {
  box-shadow: none;
}

.question-btn.correct {
  color: var(--white);
  background: var(--green-gradient);
  border: 2px solid var(--green-gradient);
}

.question-btn.wrong {
  color: var(--text);
  background-color: transparent;
  border: 2px solid var(--text-transparent);
}

.question-btn.select-right {
  border: 2px solid var(--green);
}

#results h2  {
  font-size: 3rem;
  line-height: 1.25;
}

#results .emoji  {
  font-size: 5rem;
}

.hidden {
  display: none;
}


@media screen and (max-width: 600px) {
  .container {
    padding: 2rem 1rem;
  }

  #choice-container {
    grid-template-columns: 1fr;
  }
}